/*=========Base Style========*/
body {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 0px;
}

.container {
    display: flex;
    width: 85%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

/*========= Nav Section ========*/

.nab-section {
    margin-bottom: 100px;
    height: 66px;
    background: #FFF2E5;

}

.logo {
    width: 150px;
}

.nab-section .logo {
    float: left;
    padding-top: 0px;
    box-sizing: border-box;
}

.nab-section .main-nav {
    float: right;
    float: left;
    line-height: 70px;
    text-decoration: none;

}

.main-nav a {
    color: #9F492A;
    font-weight: 700;
    margin-left: 40px;
    text-transform: capitalize;
    text-decoration: none;
}

/*=========Hero Section Style========*/

.hero-section {
    margin-top: -100px;
}

.half-width {
    width: 50%;
}

.main-heading {
    font-size: 50px;
    color: #7E8735;
    line-height: 60px;

}

.main-heading .best-biriyani {
    background-color: #953F27;
    background-image: linear-gradient(45deg, #953F27, #F9A641);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    color: linear-gradient(to right, #953F27, #F9A641)
}


h4 {
    color: #707070;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    margin-top: -30px;
    margin-bottom: 50px;
}

.order-button {
    font-weight: 500;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(to right, #953F27, #F9A641);
    padding: 10px 30px;

}

.hero-image {
    width: 700px;
}

/*========= Our Recipes ========*/